<form action="/" method="POST">
  <div class="container">
    <div class="d-flex justify-content-between my-4">
      {{#each job}}
      <div class="card mx-4 shadow p-1 mb-5 bg-white rounded" style="width: 18rem;">
        <img src="{{this.image}}" class="card-img-top"
              style="height: 13rem;" alt="engineer image">
        <div class="card-body text-center">
          <input class="form-check-input" type="radio" name="{{this.title}}" id="{{this.title}}" value="option2">
          <label class="form-check-label justify-content-center" for="{{this.title}}">
            {{this.title}}
          </label>
        </div>
      </div>
      {{/each}}
    </div>
  </div>

  <div class="container d-flex m-3 ml-4">
    <button type="submit" class="btn btn-success align-self-start">Generate Talk-Shit</button>
    <div class="form-group mx-2 flex-grow-1">
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
  </div>
</form>